/* components/Navbar.css */
.navbar {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 4px 2px -2px gray;
    display: flex;
    justify-content: space-between;
  }
  